.terms-conditions {
  padding: 20px;
  line-height: 1.6;
  position: relative;
  top: 95px;
  margin: auto;
  max-width: 1240px;
  height: 100%;
  margin-bottom: 140px;
}

.terms-conditions h1,
.terms-conditions h2 {
  color: #333;
}

.terms-conditions ol,
.terms-conditions p {
  margin-bottom: 20px;
}
